html
  head
    style(type="text/css").
        .container {
            display: flex;
        }
        .item {
            flex-grow: 1;
            height: 100px;
        }
  body
    div.container
      img.item (src='loho')
      span
        strong #{label}
        strong #{adresse}
        strong #{codeZip}